:host {

  ::ng-deep .p-button {
    background: #485aff;
    border-radius: 8px;
    width: 12.5rem;
    height: 3.5rem;
    margin-top: 1.25rem;

    .p-button-label {
      font-family: "Lato";
      font-style: normal;
      font-weight: 700;
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }
}
