<section class="w-full h-full">
  <!-- HOME MAP -->
  <aol-map #map [id]="mapId" width="100%" height="100%">
    <aol-interaction-default></aol-interaction-default>

    <aol-view [zoom]="6">
      <aol-coordinate
        [x]="-114575431300.73878"
        [y]="3475766.6239057416"
      ></aol-coordinate>
      <!--########## CONTROLS ##########-->
      <aol-control-zoom></aol-control-zoom>
      <aol-control>
        <aol-content>
          <div *ngIf="show3dButton$ | async" class="three-d-btn ol-unselectable ol-control img-btn">
            <button (click)="goto3d()">
              <img src="../../../assets/3d-btn.svg" alt="3d button" />
            </button>
          </div>
        </aol-content>
      </aol-control>
      <aol-control>
        <aol-content>
          <div class="dsm-btn ol-unselectable ol-control img-btn">
            <app-mission-files-switch
              [map]="map.instance"
              [siteFeature]="projectGeometry"
              [mission]="mission"
            ></app-mission-files-switch>
          </div>
        </aol-content>
      </aol-control>
      <aol-control>
        <aol-content>
          <div class="w-8 polygon-hide-btn ol-unselectable ol-control img-btn">
            <button (click)="togglePolygonsLayer()">
              <img src="../../../assets/show-one-layer-at-a-time.svg" alt="hide site button" />
            </button>
          </div>
        </aol-content>
      </aol-control>
      <aol-control>
        <aol-content>
          <div class="measure-btn ol-unselectable ol-control img-btn">
            <button [matMenuTriggerFor]="menuMeasure" [disabled]="">
              <img
                src="../../../assets/measure-btn.svg"
                alt="measurments button"
              />
            </button>
            <mat-menu
              #menuMeasure
              xPosition="before"
              class="mt-[-32px] mr-9 min-h-fit"
            >
              <div
                class="rounded-md bg-[#84A06E] text-white secondary-text mission-files-btns"
              >
                <button
                  class="block w-full text-center h-11 border-b border-solid border-b-[rgba(255,255,255,0.2)]"
                  (click)="toggleDistanceMeasure()"
                >
                  Distance
                </button>
                <button
                  class="block w-full text-center h-11 border-b border-solid border-b-[rgba(255,255,255,0.2)]"
                  (click)="toggleAreaMeasure()"
                >
                  Superficie
                </button>
              </div>
            </mat-menu>
          </div>
        </aol-content>
      </aol-control>
      <aol-control>
        <aol-content>
          <div class="ol-control ol-unselectable layer-switcher-btn">
            <button
              pButton
              class="p-button-secondary"
              [ngClass]="{ 'p-button--black': menuOpen }"
              icon="pi pi-ellipsis-v"
              (click)="menuOpen = true"
              [matMenuTriggerFor]="layersMenu"
            ></button>
            <mat-menu
              #layersMenu
              xPosition="before"
              yPosition="above"
              (closed)="menuOpen = false"
            >
              <div
                class="p-[14px_8px_6px] rounded-md bg-[#2A2E30] flex gap-[1.125rem] text-white secondary-text layers"
              >
                <div
                  class="flex flex-col gap-1 layer"
                  (click)="setLayer('Terrain')"
                >
                  <img
                    src="../../../assets/earth-layer.png"
                    alt="layer image"
                  /><span>Terrain</span>
                </div>
                <div
                  class="flex flex-col gap-1 layer"
                  (click)="setLayer('Satellite')"
                >
                  <img
                    src="../../../assets/satellite-layer.png"
                    alt="layer image"
                  /><span>Satelite</span>
                </div>
                <div
                  class="flex flex-col gap-1 layer"
                  (click)="setLayer('Plan')"
                >
                  <img
                    src="../../../assets/streets-layer.png"
                    alt="layer image"
                  /><span>Plan</span>
                </div>
              </div>
            </mat-menu>
          </div>
        </aol-content>
      </aol-control>
    </aol-view>
    <!--########## MAP LAYERS ##########-->
    <!--TILE LAYERS-->
    <aol-layer-tile [zIndex]="1" [visible]="mapLayers.Plan.visibility">
      <aol-source-xyz
        url="https://server.arcgisonline.com/ArcGIS/rest/services/World_Street_Map/MapServer/tile/{z}/{y}/{x}"
      ></aol-source-xyz>
    </aol-layer-tile>
    <aol-layer-tile [zIndex]="1" [visible]="mapLayers.Terrain.visibility">
      <aol-source-stamen [stamenLayer]="'terrain'"></aol-source-stamen>
    </aol-layer-tile>
    <aol-layer-tile [zIndex]="1" [visible]="mapLayers.Satellite.visibility">
      <aol-source-xyz
        url="http://mt1.google.com/vt/lyrs=y&x={x}&y={y}&z={z}"
      ></aol-source-xyz>
    </aol-layer-tile>
    <!--##### SITE LAYER #####-->
    <aol-layer-vector #polygonsLayer [zIndex]="10">
      <aol-style>
        <aol-style-stroke [width]="1" color="#501798"></aol-style-stroke>
        <aol-style-fill color="rgba(80, 23, 152, 0.1)"></aol-style-fill>
      </aol-style>
      <aol-source-vector [wrapX]="false"> </aol-source-vector>
    </aol-layer-vector>
    <!---------------------------------------------------------------------->
    <!--                           MEASURES BEGIN                         -->
    <!---------------------------------------------------------------------->
    <!-- ### Measure layer ### -->
    <aol-layer-vector #measureLayer [zIndex]="10">
      <aol-source-vector #measureSource [wrapX]="false"></aol-source-vector>
      <aol-style>
        <aol-style-stroke [width]="1" color="#333"></aol-style-stroke>
        <aol-style-fill color="rgba(255, 255, 255, 0.2)"></aol-style-fill>
        <aol-style-circle [radius]="7">
          <aol-style-fill color="#333"></aol-style-fill>
        </aol-style-circle>
      </aol-style>
    </aol-layer-vector>
    <!-- ### Distance Draw Interaction ### -->
    <aol-interaction-draw
      *ngIf="distanceMeasure"
      [source]="measureSource.instance"
      type="LineString"
      (drawStart)="toolTip.setFeature($event); measureSource.instance.clear()"
      (olChangeActive)="toolTip.removeFeature()"
      (drawEnd)="toolTip.removeFeature()"
      [style]="distanceInteractionStyle"
    >
    </aol-interaction-draw>
    <!-- ### Area Draw Interaction ### -->
    <aol-interaction-draw
      *ngIf="areaMeasure"
      [source]="measureSource.instance"
      type="Polygon"
      (drawStart)="toolTip.setFeature($event); measureSource.instance.clear()"
      (olChangeActive)="toolTip.removeFeature()"
      (drawEnd)="toolTip.removeFeature()"
      [style]="areaInteractionStyle"
    >
    </aol-interaction-draw>
    <!---------------------------------------------------------------------->
    <!--                            MEASURES END                          -->
    <!---------------------------------------------------------------------->
    <!--ORTHOPHOTO LAYER-->
    <!-- <aol-layer-image
      *ngIf="orthophotoVisible && orthophotos.has('Orthophoto')"
      [zIndex]="10"
      [visible]="true"
      [extent]="this.projectGeometry.getGeometry().getExtent()"
    >
      <aol-source-imagewms
        [url]="GEOSERVER"
        [params]="{
          format: 'image/tiff',
          version: '1.1.1',
          LAYERS: orthophotos.get('Orthophoto')?.url
        }"
        serverType="geoserver"
      ></aol-source-imagewms>
    </aol-layer-image> -->
  </aol-map>
</section>
