<footer
  class="w-full min-h-[30.4375rem] bg-black-800 border-t-8 border-solid border-t-yellow grid lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-1 text-white pt-[7.8125rem]"
>
  <div class="h-full px-24">
    <div class="min-w-[15.5rem]">
      <img src="../../../assets/logo.svg" alt="logo" />
      <p
        class="mt-10 not-italic font-normal text-sm leading-5 mb-11 text-[#FAFAFA]"
      >
        Clarity gives you the blocks and components you need to create a truly
        professional website.
      </p>
      <div class="flex gap-3 social-media">
        <a href="#"
          ><img src="../../../assets/twiter-icon.svg" alt="twiter-icon"
        /></a>
        <a href="#"
          ><img src="../../../assets/facebook-icon.svg" alt="facebook-icon"
        /></a>
        <a href="#"
          ><img src="../../../assets/instagram-icon.svg" alt="instagram-icon"
        /></a>
        <a href="#"
          ><img src="../../../assets/github-icon.svg" alt="github-icon"
        /></a>
      </div>
    </div>
  </div>
  <div class="h-full mt-6 footer__links-block md:mt-0">
    <h3>Company</h3>
    <ul>
      <li><a href="#">About</a></li>
      <li><a href="#">Features</a></li>
      <li><a href="#">Works</a></li>
      <li><a href="#">Career</a></li>
    </ul>
  </div>
  <div class="h-full mt-6 footer__links-block md:mt-0">
    <h3>Help</h3>
    <ul>
      <li><a href="#">Customer Support</a></li>
      <li><a href="#">Delivery Details</a></li>
      <li><a href="#">Terms & Conditions</a></li>
      <li><a href="#">Privacy Policy</a></li>
    </ul>
  </div>
  <div class="h-full mt-6 footer__links-block md:mt-0">
    <h3>Resources</h3>
    <ul>
      <li><a href="#">Free eBooks</a></li>
      <li><a href="#">Developement Tuturial</a></li>
      <li><a href="#">How to - Blog</a></li>
      <li><a href="#">Youtube Playlist</a></li>
    </ul>
  </div>
</footer>
