<main class="relative grid grid-cols-3">
    <div class="z-10 col-start-2">
        <router-outlet></router-outlet>
    </div>
    <div class="absolute top-[50px] left-[58px]">
        <img class="w-[60px] h-[61px]" src="../../../assets/logo.svg" alt="logo">
    </div>
    <div class="absolute left-0 bottom-0 hidden lg:block w-[40%] max-w-[696px]"><img src="../../../assets/frame-left.svg" alt="frame-left"></div>
    <div class="absolute right-0 bottom-0 hidden lg:block w-[40%] max-w-[583px]"><img src="../../../assets/frame-right.svg" alt="frame-right"></div>
</main>