
// Colors
$black: #1A1A1A;
$black-800: #2a2e30;
$grey: #9E9E9E;
$grey-500: #7a7a7a;
$grey-600: #ffffff99;
$purple: #7450E9;
$purple-100: #7450e914;
$red: '#E95050';
$yellow: #ffc300;
$yellow-100: #E3AE00;
;
